@model ShopGiay.Models.DangnhapModel
@{
    <title>Đăng Nhập Admin</title>
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="~/img/4.png" type="image/png" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <link href="~/Content/dangnhapadmin.css" rel="stylesheet" />
    <script language="javascript" src="~/Scripts/dangnhapadmin.js"></script>
    <div id="back">
        <canvas id="canvas" class="canvas-back"></canvas>
        <div class="backRight">
        </div>
        <div class="backLeft">
        </div>
    </div>

    <div id="slideBox">
        <div class="topLayer">
            <div class="right">
                <div class="content">
                    <h2>Đăng Nhập Admin</h2>
                    <h4 style="color:red;">@ViewBag.Thongbao</h4>                    
                    @using (Html.BeginForm("dangnhap", "Admin", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()                      
                        <div class="form-element form-stack">
                            <div style="color:red;font-size:small;text-align:initial">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <strong>@Html.LabelFor(model => model.tendn, htmlAttributes: new { @class = "control-label col-md-2" })</strong>
                            <div style="color:red;font-size:small;text-align:initial">
                                @Html.ValidationMessageFor(model => model.tendn, "", new { @class = "text-danger" })
                            </div>
                            <input class="form-control text-box single-line input-full " data-val="true" data-val-required=" Tên đăng nhập không được để trống. " id="tendn" name="tendn" type="text" value="">
                        </div>
                        <div class="form-element form-stack">
                            <strong>@Html.LabelFor(model => model.matkhau, htmlAttributes: new { @class = "control-label col-md-2" })</strong>
                            <div style="color:red;font-size:small;text-align:initial">
                                @Html.ValidationMessageFor(model => model.matkhau, "", new { @class = "text-danger" })
                            </div>
                            <input class="form-control text-box single-line input-full" data-val="true" data-val-length="Độ dài mật khẩu ít nhất 6 - 20 ký tự. " data-val-length-max="20" data-val-length-min="6" data-val-required="Mật khẩu không được để trống. " id="matkhau" name="matkhau" type="password" value="">
                        </div>
                        <div class="form-element form-submit">
                            <button  class="login" type="submit" name="dangnhap">Đăng Nhập</button>
                        </div>
                    }
                    


                </div>
            </div>
        </div>
    </div>


</body>
</html>
