@model ShopGiay.Models.DONDATHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h2>Bạn có chắc sẽ xóa đơn này?</h2>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYDAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYGIAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYGIAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTRANGDH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTRANGDH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATHANHTOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATHANHTOAN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
