@model ShopGiay.Models.PHIEUNHAPKHO

@{
    ViewBag.Title = "Trang chi tiết";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG CHI TIẾT</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày nhập kho:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYNK)
        </dd>

        <dt>
            Mã giày:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAGIAY)
        </dd>

        <dt>
            Số lượng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MAPHIEUNK }) |
    @Html.ActionLink("Quay lại trang quản lý", "Index")
</p>
