
@{
    ViewBag.Title = "Tin Tức || NTK";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Trở lại đầu trang-->
<script language="javascript" src="~/Scripts/backtotop.js"></script>
<!-- Owl carousel init -->
<script language="javascript" src="~/Scripts/owlcarousel.js"></script>
<!-- accordion -->
<script language="javascript" src="~/Scripts/accordion.js"></script>

<section id="breadcrumb-wrapper3" class="breadcrumb-w-img">
    <div class="breadcrumb-overlay"></div>
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner text-center">
                <div class="breadcrumb-big">

                    <h2>
                        Tin tức
                    </h2>

                </div>
                <div class="breadcrumb-small">
                    <a href="@Url.Action("index","User")" title="Quay trở về trang chủ">Trang chủ</a>



                    <span aria-hidden="true">/</span>

                    <span>Tin tức</span>



                </div>
            </div>
        </div>
    </div>
</section>







<div id="PageContainer" class="is-moved-by-drawer">
    <main class="main-content" role="main">


        <section id="blog-wrapper">
            <div class="wrapper">
                <div class="inner">
                    <div class="grid">

                        <div class="grid__item large--nine-twelfths medium--one-whole small--one-whole float-right">
                            <div class="blog-content">

                                <div class="blog-content-wrapper">
                                    <div class="blog-head">
                                        <div class="blog-title">
                                            <h1>Tin tức</h1>
                                        </div>
                                    </div>
                                    <div class="blog-body">
                                        <div class="grid-uniform">


                                            <div class="grid__item large--one-half medium--one-half small--one-whole">
                                                <div class="article-item">
                                                    <div class="article-img">
                                                        <a href="https://btahome.com/cach-bao-quan-giay/">
                                                            <img src="/file.hstatic.net/1000359177/article/53410197_827004224308181_7703832643552411648_o_large.jpg" alt="CÁCH BẢO QUẢN GIÀY THỂ THAO ĐÚNG CÁCH  NHẤT" />
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="https://btahome.com/cach-bao-quan-giay/">CÁCH BẢO QUẢN GIÀY THỂ THAO ĐÚNG CÁCH  NHẤT</a>
                                                    </div>
                                                    <div class="article-info">
                                                        <div class="article-date">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i> 03/12/22
                                                        </div>
                                                        <div class="article-author">
                                                            <i class="fa fa-user" aria-hidden="true"></i>Trọng Khải
                                                        </div>
                                                        <div class="article-comment">
                                                            <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="news/cach-bao-quan-giay-the-thao-dung-cach-nhat.html"></span>
                                                        </div>
                                                    </div>
                                                    <div class="article-desc">

                                                        Mách bạn cách bảo quản giày thể thaoĐịnh kỳ vệ sinh giày, khi giày bẩn nên dùng vải sạch thấm nước xà bông lau nhẹ nhàng, không dùng bàn chải để chà, không sử dụng thuốc tẩy để ...

                                                    </div>
                                                </div>


                                            </div>

                                            <div class="grid__item large--one-half medium--one-half small--one-whole">
                                                <div class="article-item">
                                                    <div class="article-img">
                                                        <a href="https://momoshop.com.vn/cach-that-day-giay/">
                                                            <img src="/file.hstatic.net/1000359177/article/image1_20190102104221_large.png" alt="Những cách buộc dây giày đẹp ai nhìn cũng thích mê" />
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="https://momoshop.com.vn/cach-that-day-giay/">Những cách buộc dây giày đẹp ai nhìn cũng thích mê</a>
                                                    </div>
                                                    <div class="article-info">
                                                        <div class="article-date">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i> 03/07/22
                                                        </div>
                                                        <div class="article-author">
                                                            <i class="fa fa-user" aria-hidden="true"></i> Ngọc Tân
                                                        </div>
                                                        <div class="article-comment">
                                                            <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="news/nhung-cach-buoc-day-giay-dep-ai-nhin-cung-thich-me.html"></span>
                                                        </div>
                                                    </div>
                                                    <div class="article-desc">

                                                        Tùy theo từng kiểu dáng khác nhau, bạn cũng sẽ có vô vàn cách buộc dây giày đẹp cần phải tham khảo đấy nhé.Đối với các tín đồ yêu thích giày sneaker, một đôi giày đẹp chính là t...

                                                    </div>
                                                </div>


                                            </div>

                                            <div class="grid__item large--one-half medium--one-half small--one-whole">
                                                <div class="article-item">
                                                    <div class="article-img">
                                                        <a href="https://eva.vn/nha-dep/mach-cach-giat-giay-the-thao-mot-phut-xong-ngay-ma-lai-sach-thom-nhu-moi-c169a356524.html">
                                                            <img src="/file.hstatic.net/1000359177/article/-cach-giat-giay-the-thao-nhanh-gon-ben-dep-luc-nao-cung-sach-nhu-moi-8_large.jpg" alt="Mách cách giặt giày thể thao " một phút xong ngay" mà lại sạch thơm như mới" />
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="https://eva.vn/nha-dep/mach-cach-giat-giay-the-thao-mot-phut-xong-ngay-ma-lai-sach-thom-nhu-moi-c169a356524.html">Mách cách giặt giày thể thao "một phút xong ngay" mà lại sạch thơm như mới</a>
                                                    </div>
                                                    <div class="article-info">
                                                        <div class="article-date">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i> 03/12/22
                                                        </div>
                                                        <div class="article-author">
                                                            <i class="fa fa-user" aria-hidden="true"></i> Trọng Khải
                                                        </div>
                                                        <div class="article-comment">
                                                            <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="news/mach-cach-giat-giay-the-thao-mot-phut-xong-ngay-ma-lai-sach-thom-nhu-moi.html"></span>
                                                        </div>
                                                    </div>
                                                    <div class="article-desc">

                                                        Giày thể thao là một trong số những phụ kiện không thể thiếu, làm nổi bật bộ trang phục bạn mặc hàng ngày, tôn lên nét cá tính riêng, lại giúp bạn dễ dàng đi lại, di chuyển. Chí...

                                                    </div>
                                                </div>


                                            </div>


                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid__item large--three-twelfths medium--one-whole small--one-whole">
                            <div class="blog-sidebar">

                                <div class="list-categories">
                                    <div class="blog-sb-title clearfix">
                                        <h3>
                                            Danh mục tin tức
                                        </h3>
                                    </div>
                                    <ul class="no-bullets">
                                    </ul>
                                </div>



                                <div class="blog-sb-banner">
                                    <a href="@Url.Action("sanpham","User")">
                                        <img src="/theme.hstatic.net/1000359177/1000456422/14/blog_banner_15eef.png?v=110" alt="Ảnh banner 1" />
                                    </a>
                                </div>



                                <div class="all-tags">
                                    <div class="blog-sb-title clearfix">
                                        <h3>
                                            Từ khóa
                                        </h3>
                                    </div>
                                    <div class="all-tags-wrapper clearfix">

                                    </div>
                                </div>



                                <div class="blog-sb-banner">
                                    <a href="@Url.Action("sanpham","User")">
                                        <img src="/theme.hstatic.net/1000359177/1000456422/14/blog_banner_25eef.png?v=110" alt="Ảnh banner 2" />
                                    </a>
                                </div>



                                <div class="fb-page medium--hide small--hide" data-href="https://www.facebook.com/profile.php?id=100015343247268" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/profile.php?id=100015343247268" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=100015343247268">Facebook</a></blockquote></div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>



    </main>
</div>

<section id="brands-slider">
    <div class="inner">
        <div class="grid">
            <div id="owl-brands-slider" class="owl-carousel owl-theme">
                @Html.Action("hinhthuonghieu")

            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <div id="ft-social-network" class="clearfix large--hide">
        <a href="https://www.facebook.com/profile.php?id=100015343247268" class="fb-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/trkhaing_/" class="ins-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
    <div class="ft-content">
        <div class="wrapper">
            <div class="inner">
                <div class="grid">
                    <div class="grid__item large--four-twelfths medium--one-whole small--one-whole">
                        <div class="ft-contact">
                            <h3>Hệ thống cửa hàng giày</h3>
                            <div class="ft-contact-address">
                                Địa chỉ: Tp. Hồ Chí Minh
                            </div>
                            <div class="ft-contact-tel">
                                Số điện thoại: <a href="tel:0384533735">0384533735</a>
                            </div>
                            <div class="ft-contact-email">
                                Email: <a href="mailto:khainguyenn.0312011@gmail.com">khainguyenn.0312011@gmail.com</a>
                            </div>
                            <div class="ft-certification">
                                <a href="javascript:void(0)"><img src="~/img/ft_certi_img15eef.png" alt="Đã thông báo Bộ Công Thương" /></a>
                                <a href="javascript:void(0)"><img src="~/img/ft_certi_img25eef.png" alt="Đã đăng ký Bộ Công Thương" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="grid__item large--two-twelfths medium--one-third small--one-half">
                        <div class="ft-nav">
                            <h3>Liên kết nhanh</h3>
                            <ul class="no-bullets">
                                <li>
                                    <a href="@Url.Action("gioithieu","User")">Giới thiệu</a>
                                </li>

                                <li>
                                    <a>Chính sách đổi trả</a>
                                </li>

                                <li>
                                    <a>Chính sách bảo mật</a>
                                </li>

                                <li>
                                    <a>Điều khoản dịch vụ</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="grid__item large--two-twelfths medium--one-third small--one-half">
                        <div class="ft-oh">
                            <h3>Giờ mở cửa</h3>
                            <div class="ft-oh-desc">
                                Từ 8:00 - 22:00 tất cả các ngày trong tuần (bao gồm cả các ngày lễ, ngày Tết).
                            </div>
                        </div>
                    </div>

                    <div class="grid__item large--four-twelfths medium--one-third small--one-whole">
                        <div class="ft-subscribe">
                            <h3>Đăng ký nhận tin</h3>
                            <div class="ft-sub-desc">
                                Mỗi tháng chúng tôi đều có những đợt giảm giá dịch vụ và sản phẩm nhằm chi ân khách hàng. Để có thể cập nhật kịp thời những đợt giảm giá này, vui lòng nhập địa chỉ email của bạn vào ô dưới đây.
                            </div>
                            <div class="ft-sub-wrapper">

                                <form accept-charset='UTF-8' action='mailto:khainguyenn.0312011@gmail.com' class='contact-form' method='post'>
                                    <input name='form_type' type='hidden' value='customer'>
                                    <input name='utf8' type='hidden' value='✓'>




                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft-copyrights-wrapper">
        <div class="wrapper">

            <div class="inner">
                <div class="grid">
                    <div class="grid__item large--one-third small--one-whole">
                        <div class="ft-links text-left">


                        </div>
                    </div>
                    <div class="grid__item large--one-third small--one-whole">
                        <div class="ft-social-network text-center">

                            <a href="https://www.facebook.com/profile.php?id=100015343247268"><i class="fa fa-facebook" aria-hidden="true"></i></a>


                            <a href="https://www.instagram.com/trkhaing_/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="grid__item large--one-third small--one-whole">
                        <div class="ft-copyrights text-right">
                            Copyrights © 2021 by <a target="_blank" href="mailto:khainguyenn.0312011@gmail.com">Nguyễn Trọng Khải</a>.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="modalAddComplete">
</div>

<button type="button" id="modalAddCompleteBtn" style="display: none;"></button>

<script>
    // Get the modal
    var modalAddComplete = document.getElementById('modalAddComplete');

    // Get the button that opens the modal
    var modalAddCompleteBtn = document.getElementById("modalAddCompleteBtn");

    // When the user clicks the button, open the modal
    modalAddCompleteBtn.onclick = function () {
        modalAddComplete.style.display = "block";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modalAddComplete) {
            modalAddComplete.style.display = "none";
        }
    }
</script>

<script language="javascript" src="~/Scripts/ajax-cart5eef.js"></script>
<!-- Custom script -->
<script>
    if ($(window).width() > 768) {
        setTimeout(function () {
            $("#ProductThumbs .thumbnail-item:first-child a").trigger('click');
        }, 10);
    };
</script>
<script language="javascript" src="~/Scripts/hoverchangeimage.js"></script>
<!-- accordion -->
<script language="javascript" src="~/Scripts/accordion.js"></script>
<!-- Owl carousel init -->
<script language="javascript" src="~/Scripts/Owlcarousel.js"></script>
<!-- Back to top -->
<script language="javascript" src="~/Scripts/backtotop.js"></script>
<!-- Validate quantity form & trigger zoom -->
<script language="javascript" src="~/Scripts/triggerzoom.js"></script>
<!--thuc hiên-->
<script language="javascript" src="~/Scripts/thuchien.js"></script>
<!-- popup loaded -->

<script language="javascript" src="~/Scripts/quickview.js"></script>
<script>
    $(".hc-search-wrapper > a").click(function () {
        $(".search-bar-header").toggle();
    });
</script>












