@model ShopGiay.Models.ResetPassword

@{
    ViewBag.Title = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<section id="breadcrumb-wrapper3" class="breadcrumb-w-img">
    <div class="breadcrumb-overlay"></div>
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner text-center">
                <div class="breadcrumb-big">

                    <h2>
                        Đặt lại mật khẩu
                    </h2>

                </div>
                <div class="breadcrumb-small">
                    <a href="@Url.Action("index","User")" title="Quay trở về trang chủ">Trang chủ</a>



                    <span aria-hidden="true">/</span>

                    <span>Đặt lại mật khẩu</span>



                </div>
            </div>
        </div>
    </div>
</section>

<div id="PageContainer" class="is-moved-by-drawer">
    <main class="main-content" role="main">
        <section id="page-wrapper">
            <div class="wrapper">
                <div class="inner">

                    <div class="grid">

                        <div class="grid__item large--one-third push--large--one-third text-center">


                            <div class="note form-success" id="ResetSuccess" style="display:none;">
                                Chúng tôi đã gửi một email với đường dẫn để giúp bạn cập nhật mật khẩu.
                            </div>

                            <div id="CustomerLoginForm" class="form-vertical">
                                <form accept-charset="UTF-8" method="post">
                                    <input name="form_type" type="hidden" value="customer_login">
                                    <input name="utf8" type="hidden" value="✓">
                                    <h1>Đặt lại mật khẩu</h1>
                                    <h4 style="color:red; text-align:center"> @ViewBag.Message</h4>
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">
                                            <div class="text-danger">
                                                @ViewBag.Message
                                            </div>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group" style="text-align:left;">
                                                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div style="color:red;font-size:small;text-align:initial">
                                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-10">
                                                    <input class="form-control text-box single-line password input-full" data-val="true" data-val-length="Độ dài mật khẩu ít nhất 6 - 20 ký tự. " data-val-length-max="20" data-val-length-min="6" data-val-required="Mật khẩu không được để trống. " id="NewPassword" name="NewPassword" type="password" placeholder="Nhập mật khẩu mới">
                                                </div>
                                            </div>

                                            <div class="form-group" style="text-align:left;">
                                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div style="color:red;font-size:small;text-align:initial">
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-10">
                                                    <input class="form-control text-box single-line password input-full" data-val="true" data-val-equalto="Xác nhận mật khẩu không đúng." data-val-equalto-other="*.NewPassword" data-val-required="Xác nhận mật khẩu không được để trống. " id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="Nhập lại mật khẩu">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.HiddenFor(a => a.Resetcode)
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Lưu" class="btn btn--full" />
                                                </div>
                                            </div>
                                        </div>
                                     }
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

