@using ShopGiay.Models
@model List<Giohang>

@{
    ViewBag.Title = "ĐƠN ĐẶT HÀNG";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" type="text/css" media="all">
<link href="~/Content/checkout.vendor.min.css" rel="stylesheet" type="text/css" media="all">
<link href="~/Content/checkouts.css" rel="stylesheet" type="text/css" media="all">
<br />
<br />
<br />
<br />
<br />
<div class="wrap">
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="order-summary order-summary-is-collapsed">
                <h1 style="color:black;" >Thông tin đơn hàng</h1><hr />
                <div class="order-summary-sections">
                    <div class="order-summary-section order-summary-section-product-list">                           
                        <table class="product-table">
                            @foreach (var item in Model)
                            { 
                                <thead>
                                    <tr>
                                        <th scope="col"><span class="visually-hidden">Hình ảnh</span></th>
                                        <th scope="col"><span class="visually-hidden">Số lượng</span></th>
                                        <th scope="col"><span class="visually-hidden">Giá</span></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr class="product">
                                        <td class="product-image">
                                            <div class="product-thumbnail">
                                                <div class="product-thumbnail-wrapper">
                                                    <img class="product-thumbnail-image" src="~/img/@item.gHINHANH">
                                                </div>
                                                <span class="product-thumbnail-quantity" aria-hidden="true">@item.iSOLUONG</span>
                                            </div>
                                        </td>
                                        <td><a href="@Url.Action("Chitiet", "User", new { id = item.iMAGIAY })" target="_blank"><span class="product-description-name order-summary-emphasis">@item.gTENGIAY</span></a></td>
                                        <td class="product-quantity visually-hidden">@item.iSOLUONG</td>
                                        <td class="product-price">
                                            <span class="order-summary-emphasis">@item.dDONGIA VNĐ</span>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>                              
                        </div>
                    <div class="order-summary-section order-summary-section-total-lines payment-lines" data-order-summary-section="payment-lines">
                        <table class="total-line-table">
                            <thead>
                                <tr>
                                    <th scope="col"><span class="visually-hidden">Mô tả</span></th>
                                    <th scope="col"><span class="visually-hidden">Giá</span></th>
                                </tr>
                            </thead>
                            @*<tbody>
                                    <tr class="total-line total-line-subtotal">
                                        <td class="total-line-name">Số lượng giày:</td>
                                        <td class="total-line-price">
                                            <span class="order-summary-emphasis">@ViewBag.Tongsoluong</span>
                                        </td>
                                    </tr>
                                </tbody>*@
                            <tfoot class="total-line-table-footer">
                                <tr class="total-line">
                                    <td class="total-line-name payment-due-label">
                                        <span class="payment-due-label-total">Tổng cộng</span>
                                    </td>
                                    <td class="total-line-name payment-due">
                                        <span class="payment-due-price">
                                            @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ
                                        </span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <h1 style="margin-left:15px; color:black">THÔNG TIN ĐẶT HÀNG</h1>
    @{
        KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
        DONDATHANG ddh;
    }

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="main">
            <div class="main-content">
                <div class="section">
                    <div class="section-content section-customer-information no-mb">
                        <div class="fieldset">
                            <div class="field field-required field-two-thirds">
                                <div class="field-input-wrapper">
                                    <label class="field-label" for="billing_address_full_name">Họ và tên</label>
                                    <input placeholder="Họ và tên" autocapitalize="off" spellcheck="false" class="field-input text-capitalize" type="text" id="billing_address_full_name" name="billing_address_full_name" value="@kh.HOTENKH">
                                </div>
                            </div>

                            <div class="field field-required field-third">
                                <div class="field-input-wrapper">
                                    <label class="field-label" for="billing_address_phone">Số điện thoại</label>
                                    <input type="tel" pattern="\d*" placeholder="Số điện thoại" autocapitalize="off" spellcheck="false" class="field-input" id="billing_address_phone" name="billing_address_phone" value="@kh.DIENTHOAI">
                                </div>
                            </div>

                            <div class="field field-required">
                                <div class="field-input-wrapper">
                                    <label class="field-label" for="billing_address_address">Địa chỉ</label>
                                    <input placeholder="Địa chỉ" autocapitalize="off" spellcheck="false" class="field-input text-capitalize" id="billing_address_address" name="billing_address_address" type="text" value="@kh.DIACHI">
                                </div>
                            </div>
                            <div class="field field-required">
                                <div class="field-input-wrapper">
                                    <label class="field-label" for="billing_address_address">Email</label>
                                    <input placeholder="Email" autocapitalize="off" spellcheck="false" class="field-input text-capitalize" id="billing_address_address" name="billing_address_address" type="text" value="@kh.EMAIL">
                                </div>
                            </div>
                            <div class="field field-required">
                                <div class="field-input-wrapper">
                                    <label>Ngày giao hàng:</label>
                                                 
                                    <input type="date" name="Ngaygiao" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-footer">
                    @Html.ActionLink("TRỞ VỀ GIỎ HÀNG", "Giohang", "GioHang")
                </div>
                <div class="step-footer">
                    <input type="Submit" class="step-footer-continue-btn btn" value="ĐỒNG Ý ĐẶT HÀNG" />
                </div>
            </div>
        </div>
    }

</div>

