@model ShopGiay.Models.THUONGHIEU

@{
    ViewBag.Title = "Trang xóa thương hiệu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>TRANG XÓA THƯƠNG HIỆU SẢN PHẨM</h1>

<h3>Bạn có chắc chắn muốn xóa thương hiệu này không?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Thương Hiệu:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MATH)
        </dd>
        <dt>
            Tên Thương Hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTH)
        </dd>

        <dt>
            Logo Thương Hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOGO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại trang quản lý thương hiệu", "Index")
        </div>
    }
</div>
