@model IEnumerable<ShopGiay.Models.THUONGHIEU>

@{
    ViewBag.Title = "Trang quản lý thương hiệu ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>TRANG QUẢN LÝ THƯƠNG HIỆU SẢN PHẨM</h1>
<br />

<table class="table">
    <tr>
        <th>
            Mã Thương Hiệu
        </th>
        <th>
            Tên Thương Hiệu
        </th>
        <th>
            Logo của Thương Hiệu
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MATH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TENTH)
    </td>
    <td>      
        <img src="@Url.Content("~/img/" + @item.LOGO)" height="100" width="100" />
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.MATH }) |
        @Html.ActionLink("Chi Tiết", "Details", new { id = item.MATH }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.MATH })
    </td>
</tr>
}

</table>
