@model IEnumerable<ShopGiay.Models.KHACHHANG>

@{
    ViewBag.Title = "Trang quản lý khách hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG QUẢN LÝ KHÁCH HÀNG </h2>

<table class="table">
    <tr>
        <th>
            Họ tên
        </th>
        <th>
           Số Điện Thoại
        </th>   
        <th>
           Địa chỉ
        </th>
        <th>
            Tên đăng nhập
        </th>      
        <th>
            Email
        </th>
        <th>
            Ngày Sinh
        </th>
        <th>
           Hình Ảnh 
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HOTENKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIENTHOAI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIACHI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TENDNKH)
            </td>      
            <td>
                @Html.DisplayFor(modelItem => item.EMAIL)
            </td>
            <td>
                @string.Format("{0:dd/MM/yyyy}", item.NGAYSINH)
            </td>
            <td>
                @if(item.HINHANH == null)
                {
                    <img src="~/img/account.png" height="100" width="100"/>
                }
                else 
                { 
                     <img src="@Url.Content("~/img/" + @item.HINHANH)" height="100" width="100" />
                }
            
            </td>          
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MAKH }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MAKH }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MAKH }) 


            </td>
        </tr>
    }

</table>
