@model ShopGiay.Models.GIAY

@{
    ViewBag.Title = "Trang thêm giày";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG THÊM MỚI GIÀY</h2>

@using (Html.BeginForm("Create", "Giay", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label><strong>Tên Giày:</strong></label>
            @Html.ValidationMessageFor(model => model.TENGIAY, "", new { @class = "text-danger" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TENGIAY, new { htmlAttributes = new { @class = "form-control" }, @Required = "required" })

            </div>
        </div>
        <div class="form-group">
            <label><strong>Đơn Giá Mua:</strong></label>
            @Html.ValidationMessageFor(model => model.DONGIAMUA, "", new { @class = "text-danger" })
            <div class="col-md-10" onkeypress="return isNumberKey(event)">
                @Html.TextBoxFor(model => model.DONGIAMUA, new { htmlAttributes = new { @class = "form-control" }, @Required = "required" })

            </div>
        </div>

        <div class="form-group">
            <label><strong>Đơn Giá Bán:</strong></label>
            @Html.ValidationMessageFor(model => model.DONGIABAN, "", new { @class = "text-danger" })
            <div class="col-md-10" onkeypress="return isNumberKey(event)">
                @Html.TextBoxFor(model => model.DONGIABAN, new { htmlAttributes = new { @class = "form-control" }, @Required = "required" })

            </div>
        </div>

        <div class="form-group">
            <label><strong>Thương Hiệu:</strong></label>
            <div class="col-md-10">
                @Html.DropDownList("MATH")
            </div>
        </div>

        <div class="form-group">
            <label><strong>Loại Giày:</strong></label>
            <div class="col-md-10">
                @Html.DropDownList("MALOAI")
            </div>
        </div>

        <div class="form-group">
            <label><strong>Màu Sắc:</strong></label>
            <div class="col-md-10">
                @Html.DropDownList("MAMAUSAC")
            </div>
        </div>

        <div class="form-group">
            <label><strong>Hình Ảnh:</strong></label>
            <div class="col-md-10">
                <input type="file" name="fileUpload" Required="required" />
                @ViewBag.Thongbao
            </div>
        </div>
        <div class="form-group">
            <label><strong>Link thanh toán online:</strong></label>
            @Html.ValidationMessageFor(model => model.THANHTOANON, "", new { @class = "text-danger" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.THANHTOANON, new { htmlAttributes = new { @class = "form-control" }, @Required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label><strong>Mô Tả:</strong></label>
            @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" }, @Required = "required" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-default" /> |
                @Html.ActionLink("Quay lại trang quản lý", "Index")
            </div>
        </div>
    </div>
}
<script language='javascript'>

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

</script>