@using ShopGiay.Models
@using PagedList.Mvc;
@model PagedList.PagedList<ShopGiay.Models.GIAY>

@{
    ViewBag.Title = "Trang quản lý giày";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

<h2>TRANG QUẢN LÝ SẢN PHẨM GIÀY</h2>
<table class="table" border="1">
    <tr>
        <th style="width:200px">  Tên Giày </th>
        <th style="width:70px">  Giá Mua  </th>
        <th style="width:70px">  Giá Bán  </th>
        <th style="width:120px">  Thương Hiệu   </th>
        <th style="width:100px">  Loại   </th>
        <th style="width:80px">  Màu Sắc </th>
        <th style="width:50px">  SL.Tồn </th>
        <th style="width:150px">  Ảnh bìa  </th>
        <th style="width:300px">  Mô tả    </th>
        <th style="width:110px">  Thanh toán onl</th>
        <th style="width:200px">  </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TENGIAY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DONGIAMUA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DONGIABAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THUONGHIEU.TENTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOAI.TENLOAI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAUSAC.TENMAUSAC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOLUONG)
            </td>
            <td>
                <img src="@Url.Content("~/img/"+  item.HINHANH)" width="150" />
            </td>
            <td>
                @Truncate(item.MOTA,50)
            </td>
            <td>
                @Truncate(item.THANHTOANON,10)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MAGIAY }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MAGIAY }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MAGIAY })
            </td>
        </tr>
    }
</table>
<div>
    Trang @(@Model.PageNumber>Model.PageCount?Model.PageCount: Model.PageNumber)/@Model.PageCount
</div>
<div align="center">@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))</div>
<link href="~/Content/phantrang.css" rel="stylesheet" />
