@model ShopGiay.Models.HINH

@{
    ViewBag.Title = "Trang thêm mới hình";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>TRANG THÊM MỚI HÌNH CHO GIÀY</h2>

@using (Html.BeginForm("Create", "Hinh", FormMethod.Post, new { @enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label><strong>Tên Giày:</strong></label>
        <div class="col-md-10">
            @Html.DropDownList("MAGIAY")
        </div>
    </div>
    <br />
    <div class="form-group">
        <label><strong>Hình Ảnh:</strong></label>
        <div class="col-md-10">
            <input type="file" name="fileUpload" Required = "required"/>
            @ViewBag.Thongbao
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại trang quản lý", "Index")
        </div>
    </div>
</div>
}


